<nav class="site-navigation" id="header-navmenu" role="navigation">

  <button type="button" id="burger-menu" aria-controls="primary-menu" aria-label="Main menu" class="menu-link">
    <span class="menu-bar"></span>
    <!-- <span class="screen-reader-text">Dropdown Menu</span> -->
  </button>

  <ul class="menu-items nav-menu">
    {% for item in site.data.navigation %}
      <li class="menu-item"><a {% if page.url == item.link %}class="current" {% endif %} href="{{ item.link | relative_url }}" {% if page.url == item.link %}class="current" {% endif %}>{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</nav>