/* Box Model */
 html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-size: 16px;
}

/* Met en évidence les abréviations (ayant un attribut title) */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Met en évidence les citations */
blockquote {
  margin: .75em 0 .75em 20px;
  padding: 0 0 0 10px;
  border-left: solid 2px #ddd;
}
q, cite {
  font-style: italic;
}
q cite, q q {
  font-style: normal
}
cite {
  display: block;
  color: rgb(134, 134, 134);
}
figure {
  margin: 0;
}

/* Supprime les guillemets automatiques (citations courtes) */
// q {
//   quotes: none;
// }
// q:before, q:after {
//   content: ""; /* Nécessaire pour Safari/Chrome */
// }

/* Styles de base pour les listes de définition */
dl {
  margin: .75em 0;
}
dt {
  margin: .75em 0 0 0;
  font-weight: bold;
}
dd {
  margin: .25em 0 .25em 32px;
}

kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	text-shadow: 0 1px 0 #fff;
}

pre {
  font-size: 14px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Mise en forme simple pour les tableaux */
table {
  margin: 20px 0;
  border: 1px solid gray;
  border-collapse: collapse;
  border-spacing: 0;
}
table td, table th {
  padding: 4px;
  border: 1px solid #ccc;
  vertical-align: top;
}

/* Conteneurs sémantiques de HTML 5 */
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

hr {
  height: 3px;
  color: gray;
  background-color: gray;
  margin: 60px 0;
  border: 0;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

a {
  color: $color_link;
  &:visited {
    color: $color_link; //darken($color_link, 20%);
  }
}
h1, h2, h3, h4, .nav-cat-list {
  a {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
#breadcrumbs {
  padding: 10px 0;
  a {
    text-decoration: none;
    color: $color_secondary;
  }
}