.big .emoji {
  width: 50px;
  height: auto;
}

/* Extend href link on parent DIV */
[data-expand-target] {
  overflow: hidden; // pour ne pas dépasser de la div
  position: relative;
}

[data-expand-link]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
