.site-header {
  background-color: #20133f;
  color: $color_like_white;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative; // for what ?
  .wrapper {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.site-branding {
  a{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    .logo {
      width: 60px;
      height: auto;
      display: inline-block;
      transition: 0.4s; // Adds a transition effect when the width is decreased on scroll
    }
    .site-title {
      font-size: 22px;
      margin-left: 20px;
    }
  }
}

.site-header {
  transition: 0.4s; // Adds a transition effect when the padding is decreased on scroll
  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
  &.thinned {
    padding-top: 15px;
    padding-bottom: 15px;
    .site-branding {
      a .logo {
        width: 30px;
      }
    }
    .menu-link {
      top: 18px;
    }
  }
}

