body {
  &.archive-category,
  &.single-post {
    .sidebar {
      background-color:#c5d7e0;
      padding: 25px 0;
      .aside-title {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        margin-bottom: 20px;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          display: inline-block;
          margin-left: 10px;
          &.active {
            font-weight: bold;
            color: $color_link;
          }
          a, span {
            padding: 10px;
          }
        }
      }
    }
    @include desktop {
      .site-content {
        display: flex;
      }
      .content-area {
        margin-left: 20px;
      }
      .sidebar {
        min-width: 240px;
        position: sticky;
        top: 85px;
        align-self: flex-start; // flex box elements default to stretch, all the elements are the same height, which can't be scrolled againstadding this to the sticky element set the height to auto, which allowed scrolling, and fixed it.
        order: -1;
        // flex: 1 0;
        ul {
          li {
            display: block;
            margin-left: 0;
            padding: 10px;
            &.active {
              background-color: $color_like_white;
            }
          }
        }
      }
    }

  }
}